$default_font:'sans-serif';
$default_color:#fff;
$default_padding:20px;

.App {
  text-align: center;
  .App-header {
    background-color: #282c349c;
    padding: $default_padding;
    color: white;
    .App-header h1{
      color:$default_color;
      font-family: $default_font;
    }
    
  }
  main {
    padding: $default_padding;
  }
}

@media  screen  and (max-width: 450px) {

.App-header h1{
  color:$default_color;
  font-family: $default_font;
  font-size: 28px;
}
}