$default_flex:flex;
$default_alignItems:center;
$default_backgroundcolor:#f3f3f3fd;

@mixin flexing(){
      display: $default_flex;
      align-items: $default_alignItems;
}

.stat {
    background:$default_backgroundcolor;
    padding: 1rem;
    border: 1px solid $default_backgroundcolor;
    border-radius: 1rem;
    text-align: center;
    width: 200px;
    gap:20px;
    margin-bottom: 20px; 
    .header{
   
      @include flexing ();
      justify-content: space-between;
      .label {
        font-size: 16px;
        font-weight: bold;
        font-family: sans-serif;
        margin-left:10px;
      }
      .change {
        font-size: 14px;
        margin-top: 5px;
        font-size: 0.875rem;
        font-weight: bolder;
       
      }
    }
    .footer{
      @include flexing ();
      margin-top: 1rem;
      margin-left: 1rem; 

  .value {
    font-size: 1.5rem;
    color: black;
    font-weight: bolder;
    margin-left: 4rem;
  }

  .icon{
    width: 40px;
    height: 40px;
    }
    }
    .positive {
      color: rgb(3, 172, 3);
    }
    
    .negative {
      color: red;
    }

  }
  
  
  
  
  
  

  